In [21]:
importt numpy as np 
y = 2
x =y*2
t = " name"
z = []
k = np.array([])

In [22]:
%whos

Variable   Type       Data/Info
-------------------------------
k          ndarray    0: 0 elems, type `float64`, 0 bytes
np         module     <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
t          str         name
x          int        4
y          int        2
z          list       n=0

In [26]:
t[0]

' '

In [34]:
t[1:]

'name'

In [28]:
t[:3]

' na'

In [29]:
t[:]

' name'

In [30]:
t[:5]

' name'

In [31]:
t[3:4]

'm'

In [35]:
#Alternate character in the string
t[::2]

' ae'

In [38]:
str_a = "Name is Bond, "
str_b = "James Bond!"
print(str_a+str_b)

Name is Bond, James Bond!

In [42]:
str_a.upper()

'NAME IS BOND, '

In [43]:
str_b.lower()

'james bond!'

In [49]:
str_a.count("B")

1

In [53]:
str_a.replace("Bond","BOND")

'Name is BOND, '

In [58]:
str_c = "I study Science"
str_d = "What about"
print("%s and %s you "%(str_c,str_d))

I study Science and What about you

In [135]:
# List can hold any type of data: Numerical, string etc
list_a = ["Everything's","gonna","be","all" "right "]
list_b = [1,2,3,4,5]
# Combining two lists to give single list
list_c = list_a + list_b      
print(list_c)

["Everything's", 'gonna', 'be', 'allright ', 1, 2, 3, 4, 5]

In [136]:
list_c[:3]

["Everything's", 'gonna', 'be']

In [137]:
list_c[4:]

[1, 2, 3, 4, 5]

In [138]:
list_c[4:-1]

[1, 2, 3, 4]

In [139]:
len(list_c)

9

In [140]:
# Importing list under list
list_d =[list_a,list_b]
list_d

[["Everything's", 'gonna', 'be', 'allright '], [1, 2, 3, 4, 5]]

In [141]:
list_b.append(6)

In [142]:
print(list_b)

[1, 2, 3, 4, 5, 6]

In [143]:
list_b+list_a

[1, 2, 3, 4, 5, 6, "Everything's", 'gonna', 'be', 'allright ']

In [144]:
# Addition of elements in the list, according to our position
list_b.insert(3,3.5)

In [145]:
list_b

[1, 2, 3, 3.5, 4, 5, 6]

In [146]:
list_b.remove(3.5)   # removing the element itself

In [147]:
list_b

[1, 2, 3, 4, 5, 6]

In [148]:
del list_b[5]       # removing according to the index

In [149]:
list_b

[1, 2, 3, 4, 5]

In [150]:
6 in list_b

False

In [154]:
# Turning string into the list of charcater itself
list("Okay Great")

['O', 'k', 'a', 'y', ' ', 'G', 'r', 'e', 'a', 't']

In [ ]:
# TUPLE
#These are immutable (can not changed/interefered) and therefore different from list

In [155]:
tuple_a = (1,2,3,4,5)

In [159]:
len(tuple_a)

5

In [160]:
tuple_a[:3]

(1, 2, 3)

In [162]:
tuple_b = ("Great"," Idea")
tuple_b

('Great', ' Idea')

In [166]:
list_e = [("apple",3),("orange",5),("banana",10)]
list_e

[('apple', 3), ('orange', 5), ('banana', 10)]

In [169]:
# Let's assign the chosen variable to the elements of list 
j,k,l = list_e
print(j,k,l)
# Note, the varibales must be on the LHS

('apple', 3) ('orange', 5) ('banana', 10)

In [170]:
# SET
#It is a type that can store an unordered collection with no duplicate elements. It can also support mathematical operations like union, intersection, difference, symmetric difference. It is defined by using a pair of braces, { }, and its elements are separated bycommas.

In [173]:
set_a = set([2,1,4,5,3,2,7,1,9,10])
set_a   # No Repetition in the list elements

{1, 2, 3, 4, 5, 7, 9, 10}

In [183]:
# Let' s find the unique elements in the tuple or list containing string
set_b = set("Banana")
print(set_b)

{'B', 'n', 'a'}

In [185]:
set_c =set(("Banana","Orange"))
set_c

{'Banana', 'Orange'}

In [194]:
set_d = set_a.union(set_b)
print(set_d)

{1, 2, 3, 4, 5, 'n', 7, 'a', 9, 10, 'B'}

In [195]:
set_a.union(set_b.union(set_c))

{1, 10, 2, 3, 4, 5, 7, 9, 'B', 'Banana', 'Orange', 'a', 'n'}

In [196]:
set_a.intersection(set_d)

{1, 2, 3, 4, 5, 7, 9, 10}

In [200]:
set_a.issubset({1,2,3,4,5,6,7,8,9,10})

True

In [201]:
set_a.issubset(set_d)

True

In [203]:
# DICTIONARY
#dictionaries are indexed by keys, which can be a string, number, or even tuple (but not list). A dictionary comprises key-value pairs, and each key maps to a corresponding value.

In [207]:
dict_a = {"Yup":3,"Great":1,"Idea":2,4:"You Got this"}
dict_a

{'Yup': 3, 'Great': 1, 'Idea': 2, 4: 'You Got this'}

In [208]:
dict_a["Yup"]

3

In [209]:
dict_a[4]

'You Got this'

In [211]:
# We are assigning the data type on the RHS of : to the data type on the LHS
# The info stored on the RHS is callable with the dictionary by invoking LHS data similar to index
# Therefore, the Data on LHS acts like an index